body{
	height: 100%;
	margin: 0;
}

header{
	width: 100%;
}

header #top{
	height: 30px;
	width: 100%;
	background-image: url('//akamai-ssl.burton.com/2015/images/global/ss15_headerBackground.gif');
}

header #top #wrap{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

header #top #wrap nav{
	width: 40%;
	float: left;
}

header #top #wrap nav ul{
	padding: 0;
	margin: 0;
}

header #top #wrap nav ul li{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	list-style: none;

}

header #top #wrap nav ul li img{
	margin-top: 4px;
}

header #top #wrap nav ul li a{
	text-decoration: none;
	color: #F0F0E8;
}

header #bottom{
	width: 100%;
	height: 60px;
}

header #bottom #wrap2{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

header #bottom #wrap2 nav{
	width: 33.3%;
	float: left;
}

header #bottom #wrap2 nav ul{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-top: 40px;
}

header #bottom #wrap2 nav ul li{
	float: left;
	list-style: none;
	margin-right: 15px;
}

header #bottom #wrap2 nav ul li a{
	float: left;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
}

header #bottom #wrap2 div{
	width: 33.3%;
	margin-right: auto;
	margin-left: auto;
	float: left;
}

header #bottom #wrap2 div a{
	margin: 0;

}

header #bottom #wrap2 div a span{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	width: 145px;
	height: 26px;
	display: block;
	margin-left: 28%;
	margin-top: 8%;
}


header #bottom #wrap2 nav{
	width: 33.2%;
	float:  left;
}

header #bottom #wrap2 nav ul{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-top: 40px;
}

header #bottom #wrap2 nav ul li{
	float: left;
	list-style: none;
	margin-right: 18px;
}

header #bottom #wrap2 nav ul li a{
	float: left;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
}

main{
	height: auto;
	width: 100%;
	margin-top: 20px;
	background-color: #F0F0E8;
}

main #top{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

main #top div{
	height: auto;
	width: auto;
	padding-top: 30px;

}


main #top nav{
	width: 100%;
	height: auto;

}

main #top nav ul{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 20px 0 0 0;
}

main #top nav ul .left{
	list-style: none;
	float: left;
	width: 300px;
	border-style: solid;
    border-width: 3px;
    text-align: center;
    font-size: 12px;
   	

}

main #top nav ul .center{
	list-style: none;
	width: 300px;
	border-style: solid;
    border-width: 3px;
    text-align: center;
    font-size: 12px;
    margin-left: 35.5px;
    margin-right: 35.5px;
    float: left;
}


main #top nav ul .right{
	list-style: none;
	float: left;
	width: 300px;
	border-style: solid;
    border-width: 3px;
    text-align: center;
    font-size: 12px;
    margin: 0;
  
}


#secondary{
	width: 100%;
	background-color: #F0F0E8;
	height: auto;
}

#secondary div{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	padding-bottom: 15px;
	background-color: #F0F0E8;
}

#secondary div .left{
	margin-right: 36px;
}


#third div{
	background-image: url('http://akamai-ssl.burton.com/2015/content/13things/post-037/design/13Things_DefineDurableGoods_Banner_Desktop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1423px;
	height: 404px;
	background-position: center 0;
}

#third div img{
	vertical-align: middle;
	display: block;
	margin: 0 auto 0;
	max-height: 370px;
	padding-top: 18px;
}


#forth{
	width: 100%;
	height: 283px;
}

#forth div{
	width: 990px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

#forth div nav{
	height: 100%;
}


#forth div nav h1{
	text-align: center;
	padding-top: 25px;
}


#forth div nav ul{
	height: 100%;
	padding: 0;
	margin: 0;
}

#forth div nav ul li{
	height: 150px;
	width: 15%;
	list-style: none;
	float: left;
	border-style: solid;
	margin: 5px;
}

#forth div nav ul li img{
	position: relative;
	display: block;
	max-height: 95.7%;
	max-width: 95.7%;
	margin: auto;
}

/*background-image: url('http://akamai-ssl.burton.com/2015/content/13things/post-037/design/13Things_DefineDurableGoods_Banner_Desktop.jpg');*/
	background-repeat: no-repeat;