body{
	height: 100%;
	margin: 0;
}

header{
	width: 100%;
}

header #top{
	height: 30px;
	width: 100%;
	background-image: url('//akamai-ssl.burton.com/2015/images/global/ss15_headerBackground.gif');
}

header #top #wrap{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

header #top #wrap nav{
	width: 40%;
	float: left;
}

header #top #wrap nav ul{
	padding: 0;
	margin: 0;
}

header #top #wrap nav ul li{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	list-style: none;
}

header #top #wrap nav ul li img{
	margin-top: 4px;
}

header #top #wrap nav ul li a{
	text-decoration: none;
	color: #000000;
}

header #bottom{
	width: 100%;
}

header #bottom #wrap2{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}

header #bottom #wrap2 nav{
	width: 33.3%;
	float: left;
}

header #bottom #wrap2 nav ul{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

header #bottom #wrap2 nav ul li{
	float: left;
	list-style: none;
	margin-right: 15px;
}

header #bottom #wrap2 nav ul li a{
	float: left;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
}

header #bottom #wrap2 div{
	width: 33.3%;
	margin-right: auto;
	margin-left: auto;
	float: left;
}

header #bottom #wrap2 div a{
	margin-top: 25%;
	margin-left: 25%;
}

header #bottom #wrap2 div a span{
	background-image: url('http://akamai-ssl.burton.com/2015/images/global/svg/global-header-footer-sprite-ss15.svg');
	width: 145px;
	height: 26px;
	display: block;
	background-position: 0 0;
	
}
header #bottom #wrap2 nav{
	width: 33.2%;
	float:  left;
}

header #bottom #wrap2 nav ul{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

header #bottom #wrap2 nav ul li{
	float: left;
	list-style: none;
	margin-right: 18px;
}

header #bottom #wrap2 nav ul li a{
	float: left;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
}

main{

}

main #top{

}

main #top div{
	background-image: url('http://akamai-ssl.burton.com/2015/content/13things/post-037/design/13Things_DefineDurableGoods_Banner_Desktop.jpg');
	background-repeat: no-repeat;
	height: auto;
	width: auto;
}